.viewer-loading {
    position: fixed;
    right: 0px;
    bottom: 0px;
    background: white;
}

.viewer-loading > div {
    margin: 0.5em;
}

.viewer-header {
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-left: 0.3em;
    color: #aaa;
    font-size: 80%;
}

table.datatable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table.datatable > thead > tr > th {
    text-align: left;
}

/* Format datatable data rows */
tr.datatable-row > td, table.datatable > thead > tr > th {
    padding: .2em;
    padding-right: .5em;
}
tr.datatable-row:hover {
    background: #ddf;
    cursor: pointer;
}

/* For datatable-info rows, move padding to inner div. */
tr.datatable-info > td {
    padding: 0px;
    padding-left: 1em;
}
tr.datatable-info > td > div {
    padding: .2em;
    padding-right: .5em;
}

tr.datatable-more {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
